.header {
  display: flex;
  justify-content: space-between;
  background-color: #000;
  height: 70px;
  position: relative;
}

.header a, .header button {
  margin: 0 20px;
}

.header a {
  font-size: 42px;
  color: #D22F27;
  font-weight: 700;
  text-decoration: none;
  margin-top: 15px;
  font-family: arial;
}

.header button {
  padding: 11px 34px;
  background-color: #E50914;
  color: #fff;
  position: absolute;
  top: 15px;
  right: 20px;
  border: 0;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}
